body{
    background-image: url(https://wallpaper.forfun.com/fetch/98/98d6c705bf5fc08687224e0069be952c.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode: overlay;
    background-color: rgba(0, 0, 0, 0.3);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    scroll-behavior: smooth;
}
.container{
    background-color: rgb(0,0,0,0.5);
    padding: 300px;
    border-radius: 10px;
}
#countLable{
    display: block;
    text-align: center;
    font-size: 10em;
    font-family: Helvetica, sans-serif;
    color: white;
}
#btnContainer{
    text-align: center;
}
.button{
    padding: 10px 20px;
    font-size: 1.5em;
    color: white;
    background-color: rgb(8, 180, 214);
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.25s;
}
.button:hover{
    background-color : rgb(0, 106, 255)
}